body {
  margin: 0;
  font-family: Arial;
  background: #fdf6e3;
}

.header {
  background: #2e7d32;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 22px;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  flex: 1;
  background: #66bb6a;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
}
